* {
    padding: 15px;
}
body {
    font-family: 'Roboto', sans-serif;
}
.nav-bar {
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 75px;
}
.nav-links {
    width: 50%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
}
.button {
    background-color: royalblue;
    color: aliceblue;
    font-size: medium;
    height: 25px;
    width: 100px;
    display: flex;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.user-card {
    width: 500px;
    height: 375px;
    border-color: lightslategray;
    border-style: solid;
    display: inline;
    justify-content: flex-start;
}
.user-card h1 {
    margin-top: -30px;
    display: inline;
}
.user-card h3 {
    margin-top: -30px;
    margin-left: -10px;
}
.user-card h3 img {
    width: 4%;
    margin-bottom: -15px;
}
.user-card p {
    margin-top: -30px;
}
.user-card p img {
    width: 5%;
    margin-bottom: -15px;
}
.top {
    background-color: aquamarine;
    height: 75px;
    width: 100%;
    margin-top: -15px;
    margin-left: -15px;
}
.user-img {
    background-color: aliceblue;
    border-radius: 100px;
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    margin-top: -45px;
    border: 3px solid grey;
}
.user-img img {
    width: 200%;
    margin-left: -43px;
    margin-top: 2px;
}
.requests {
    display: inline;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: grey;
}
.requests ul {
    list-style: none;
}
.requests li {
    display: flex;
    align-items: center;
}
.requests img {
    width: 5%;
}
.top-2 {
    background-color: rgb(41, 49, 58);
    color: aliceblue;
    display: flex;
    height: 65px;
    margin: -15px;
    display: flex;
    align-items: center;
}
.bubble {
    border-radius: 100px;
    background-color: grey;
    height: 15px;
    width: 15px;
    text-align: center;
    margin-bottom: -15px;
}
.education {
    border-style: solid;
    border-color: grey;
    height: auto;
}
.top-3 {
    background-color: rgb(41, 49, 58);
    color: aliceblue;
    margin: -15px;
    height: 30px;
    display: flex;
    align-items: center;
}
.connections {
    display: inline;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: grey;
}
.connections img {
    width: 10%;
}
.connections ul {
    list-style: none;
}
.connections li {
    display: flex;
    align-items: center;
}
.top-4 {
    background-color: rgb(41, 49, 58);
    color: aliceblue;
    margin: -15px;
    height: 30px;
    display: flex;
    align-items: center;

}